<!-- CODE BELOW WILL PULL IN ALL AVAIL PRODUCTS, INCLUDING FROM DB -->

<div ng-repeat="product in mc.products.list">
    <pre>{{product.title | json}}</pre>
    <a href="#!/{{product.id}}"><button on-click="mc.getProductDetails(productId);">see details</button></a>
</div>

<!-- JUST PULLS PRODUCTS FROM API -->

<div ng-repeat="apiproduct in mc.api.list">
    <pre>{{apiproduct.title | json}}</pre>
</div>
    <a href="#!/{{mc.api.list.tcin}}"><button on-click="mc.getProductDetails(mc.api.list.tcin);">see details</button></a>
